// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------

.widget-text-{{id}} {

  .title {
	position: absolute;
	top: 5px;
	width: 100%;
  }

  .title2 {
	position: absolute;
	top: 20px;
	width: 100%;
  }
  
  .value {
	position: absolute;
	top: 45px;
	width: 100%;
  }

}
