.widget-text-{{id}} .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-text-{{id}} .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-text-{{id}} .value {
	position: absolute;
	top: 48px;
	width: 100%;
}