@import "variables";
// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

 .time {
    color: $color-time;
  }
}