astral==2.2
pytz==2021.3
requests==2.26.0
websocket-client==1.2.1
aiohttp==3.8.1
aiodns==3.0.0
cchardet==2.1.7
python-engineio==4.3.0
python-socketio==4.6.1
yarl==1.7.2
Jinja2==3.0.3
aiohttp_jinja2==1.5
pyyaml==6.0
voluptuous==0.12.2
feedparser==6.0.2
iso8601==1.0.0
bcrypt==3.2.0
paho-mqtt==1.6.1
deepdiff==5.6.0
python-dateutil==2.8.2
pid==3.0.4
azure-mgmt-compute==23.1.0
azure-mgmt-storage==19.0.0
azure-mgmt-resource==20.0.0
azure-keyvault-secrets==4.3.0
azure-storage-blob==12.9.0
sockjs==0.11.0
pygments==2.10.0
wheel==0.37.0
uvloop==0.16.0; sys_platform != 'win32'
