// ----------------------------------------------------------------------------
// Widget-javascript styles
// ----------------------------------------------------------------------------
.widget-javascript-{{id}} {

  .icon {
	position: absolute;
	top: 45px;
	width: 100%;
  }
  
  .title {
	position: absolute;
	top: 5px;
	width: 100%;
  }

  .title2 {
	position: absolute;
	top: 20px;
	width: 100%;
  }
  
.state_text {
	position: absolute;
	bottom: 5px;
	width: 100%;
  }
}

