<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="images/manifest.json">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
	<script type="text/javascript" src="javascript/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="javascript/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="javascript/socket.io.js"></script>
	<script type="text/javascript" src="javascript/admin.js"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="theme-color" content="#ffffff">
    {% if logon is defined %}
		<title>Logon to AppDaemon</title>
    {% else %}
		<title>AppDaemon Administration Interface</title>
    {%endif%}

</head>
<body>
            <script>
$(function(){ //DOM Ready

    // Open the default tab

    document.getElementById("appdaemon").click();

    // Start listening for Events

    {% if transport == "ws" %}
    if (location.protocol === 'https:')
    {
        wsprot = "wss:"
    }
    else
    {
        wsprot = "ws:"
    }
    var stream_url = wsprot + '//' + location.host + '/stream'
    {% else %}
        var stream_url = 'http://' + document.domain + ':' + location.port + "/stream"
    {% endif %}

    admin_stream(stream_url, "{{ transport }}");

});

            </script>

    {% if logon is defined %}
        <div id="backgroundImage">
        <div class="main">
        <h1><img src="/images/favicon-32x32.png">&nbsp;HADashboard</h1>
        <br>Welcome to the AppDaemon Administration Interface.</br>
        <br/>
        <section class="loginform cf">
        <form name="login" action="/logon" method="post" accept-charset="utf-8">
            <label for="password">Admin Password</label>
            <input type="password" name="password" placeholder="password" required>
            <br/>
            <input type="submit" value="Login">
        </form>
        </section>
    {% else %}
		<div id="backgroundImage">
        <div class="main">
        <h1><img src="images/favicon-32x32.png"> AppDaemon Administration</h1>
<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'AppDaemon')" id="appdaemon">AppDaemon</button>
  <button class="tablinks" onclick="openTab(event, 'Plugins')" id="plugins">Plugins</button>
  <button class="tablinks" onclick="openTab(event, 'Modules')" id="plugins">Modules</button>
  <button class="tablinks" onclick="openTab(event, 'Apps')" id="apps">Apps</button>
  <button class="tablinks" onclick="openTab(event, 'Threads')" id="apps">Threads</button>
  <button class="tablinks" onclick="openTab(event, 'Callbacks')" id="apps">Callbacks</button>
  <button class="tablinks" onclick="openTab(event, 'Logs')" id="apps">Logs</button>
</div>

<!-- Tab content -->
<div id="AppDaemon" class="tabcontent">
    <h3>AppDaemon</h3>
    <br>Version: {{ appdaemon["version"] }}
    <br>Running since: {{ appdaemon["booted"] }}
</div>

<div id="Apps" class="tabcontent">
    <h3>Active Apps</h3>
    {% for app in apps %}
            <br>{{ app }}
    {% endfor %}

</div>

<div id="Modules" class="tabcontent">

</div>

<div id="Threads" class="tabcontent">
    <h3>Summary</h3>
    <table>
        <tr><td>Current Busy</td><td id="current_busy_threads">{{ threads["current_busy"] }}</td></tr>
        <tr><td>Maximum Busy</td><td id="max_busy_threads">{{ threads["max_busy"] }}</td></tr>
        <tr><td>Maximum Busy Time</td><td id="max_busy_threads_time">{{ threads["max_busy_time"] }}</td></tr>
    </table>
    <h3>Details</h3>
    <span id="thread_table">
    <table>
            <tr>
                <th>ID</th>
                <th>Queue Size</th>
                <th>Callback</th>
                <th>Time Called</th>
                <th>Alive</th>
                <th>Pinned Apps</th>
            </tr>
            {% for thread in threads["threads"] %}
            <tr><td>{{ thread }}</td>
                <td id="{{thread}}_qsize">{{ threads["threads"][thread]["qsize"] }}</td>
                <td id="{{thread}}_callback">{{ threads["threads"][thread]["callback"] }}</td>
                <td id="{{thread}}_callback">{{ threads["threads"][thread]["time_called"] }}</td>
                <td id="{{thread}}_is_alive">{{ threads["threads"][thread]["is_alive"] }}</td>
                <td id="{{thread}}_is_alive">{{ threads["threads"][thread]["pinned_apps"] }}</td>
            </tr>
            {% endfor %}
    </table>
    </span>
</div>

<div id="Callbacks" class="tabcontent">
    <h3>Summary</h3>
    <table>
        <tr><td>Total Callbacks Fired</td><td id="total_callbacks_fired">{{ callback_updates["total_callbacks_fired"] }}</td><td>Average <span id="avg_callbacks_fired_per_sec">{{ callback_updates["avg_callbacks_fired_per_sec"] }}</span> callback_updates/s</td></tr>
        <tr><td>Total Callbacks Executed</td><td id="total_callbacks_executed">{{ callback_updates["total_callbacks_executed"] }}</td><td>Average <span id="avg_callbacks_executed_per_sec">{{ callback_updates["avg_callbacks_executed_per_sec"] }}</span> Callbacks/s</td></tr>
    </table>
    <h3>Scheduler Callbacks</h3>
    <span id="active_scheduler_callbacks">
        {% if sched|length == 0 %}
            No active callbacks
        {% else %}
        <table>
            <tr><th>App</th><th>Execution Time</th><th>Repeat</th><th>Callback</th><th>Pinned</th><th>Pinned Thread</th><th>Kwargs</th></tr>
            {% for entry in sched %}
                {% for id in sched[entry] %}
                    <tr>
                        <td>{{entry}}</td>
                        <td>{{sched[entry][id]['timestamp'] }}</td>
                        <td>{{sched[entry][id]['interval'] }}</td>
                        <td>{{sched[entry][id]['callback'] }}</td>
                        <td>{{sched[entry][id]['pin_app'] }}</td>
                        <td>{{sched[entry][id]['pin_thread'] }}</td>
                        <td>{{sched[entry][id]['kwargs'] }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        {% endif %}
    </span>
    <h3>State Callbacks</h3>
    <span id="active_state_callbacks">
        {% if state_callbacks|length == 0 %}
            No active callbacks
        {% else %}
        <table>
        <tr><th>App</th><th>Entity</th><th>Function</th><th>Pinned</th><th>Pinned Thread</th><th>Kwargs</th></tr>
            {% for entry in state_callbacks %}
                {% for id in state_callbacks[entry] %}
                    <td>{{ entry }}</td>
                    <td>{{ state_callbacks[entry][id].entity }}</td>
                    <td>{{ state_callbacks[entry][id].function }}</td>
                    <td>{{ state_callbacks[entry][id].pin_app }}</td>
                    <td>{{ state_callbacks[entry][id].pin_thread }}</td>
                    <td>{{ state_callbacks[entry][id].kwargs }}</td>
                {% endfor %}
            {% endfor %}
        </table>
        {% endif %}
    </span>
    <h3>Event Callbacks</h3>
    <span id="active_event_callbacks">
        {% if event_callbacks|length == 0 %}
            No active callbacks
        {% else %}
        <table>
        <tr><th>App</th><th>Event Name</th><th>Function</th><th>Pinned</th><th>Pinned Thread</th><th>Kwargs</th></tr>
            {% for entry in event_callbacks %}
                {% for id in event_callbacks[entry] %}
                    <tr>
                    <td>{{ entry }}</td>
                    <td>{{ event_callbacks[entry][id].entity }}</td>
                    <td>{{ event_callbacks[entry][id].function }}</td>
                    <td>{{ event_callbacks[entry][id].pin_app }}</td>
                    <td>{{ event_callbacks[entry][id].pin_thread }}</td>
                    <td>{{ event_callbacks[entry][id].kwargs }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        {% endif %}
    </span>

</div>

<div id="Logs" class="tabcontent">

</div>

<div id="Plugins" class="tabcontent">
  <h3>Plugins</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Namespace</th>
        </tr>
    {% for plugin in plugins %}
        <tr>
            <td>{{ plugin }}</td>
            <td>{{ plugins[plugin]["type"] }}</td>
            <td>{{ plugins[plugin]["namespace"] }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
            <input type="submit" value="Logout" onclick="javascript:logout()">

        </div>
        </div>
    {%endif%}
</body>
</html>
