<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="images/manifest.json">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
	<script type="text/javascript" src="javascript/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="javascript/admin.js"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="theme-color" content="#ffffff">
    {% if logon is defined %}
		<title>Logon to AppDaemon</title>
    {% else %}
		<title>AppDaemon Administration Interface</title>
    {%endif%}

</head>
<body>
            <script>
                $( document ).ready(function() {
                    document.getElementById("{{tab}}").click();
});

            </script>

    {% if logon is defined %}
        <div id="backgroundImage">
        <div class="main">
        <h1><img src="/images/favicon-32x32.png">&nbsp;HADashboard</h1>
        <br>Welcome to the AppDaemon Administration Interface.</br>
        <br/>
        <section class="loginform cf">
        <form name="login" action="/logon" method="post" accept-charset="utf-8">
            <label for="password">Admin Password</label>
            <input type="password" name="password" placeholder="password" required>
            <br/>
            <input type="submit" value="Login">
        </form>
        </section>
    {% else %}
		<div id="backgroundImage">
        <div class="main">
        <h1><img src="images/favicon-32x32.png"> AppDaemon Administration</h1>
<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'AppDaemon')" id="appdaemon">AppDaemon</button>
  <button class="tablinks" onclick="openTab(event, 'Apps')" id="apps">Apps</button>
  <button class="tablinks" onclick="openTab(event, 'Plugins')" id="plugins">Plugins</button>
</div>

<!-- Tab content -->
<div id="AppDaemon" class="tabcontent">
    <h3>AppDaemon</h3>
    <br>Running since: {{ appdaemon["booted"] }}</br>
</div>

<div id="Apps" class="tabcontent">
    <h3>Active Apps</h3>
    {% for app in apps %}
            <br>{{ app }}
    {% endfor %}

</div>

<div id="Plugins" class="tabcontent">
  <h3>Plugins</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Namespace</th>
            <th>Authorization</th>
        </tr>
    {% for plugin in plugins %}
        <tr>
            <td>{{ plugin }}</td>
            <td>{{ plugins[plugin]["type"] }}</td>
            <td>{{ plugins[plugin]["namespace"] }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
            <input type="submit" value="Logout" onclick="javascript:logout()">

        </div>
        </div>
    {%endif%}
</body>
</html>
