@import "variables";

// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-dimmer {

  position: relative;

  .title {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .dimmer-icon-off .dimmer-icon-on {
    font-size: 150%;
  }

  .dimmer-icon-off {
    color: $color-inactive;
  }

  .dimmer-icon-on {
    color: $color-active;
  }

  .toggle-area {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
  }

  .level {
    display: inline-block;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.7);
  }

  .unit {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
  }

  .secondary-icon {
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    width: 32px;
    color: $color-inactive;

    &.plus {
      right: 24px;

      i {
        padding-top: 10px;
        padding-left: 30px;
      }
    }

    &.minus {
      left: 8px;

      i {
        padding-top: 10px;
        padding-right: 30px;
      }
    }
  }

}
