html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background-color: #eeeeee;
  color: #000000;
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial'
}

a {
  text-decoration: none;
  color: inherit;
}


#backgroundImage{z-index: 1;}

#backgroundImage:before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-image: url("/images/android-chrome-512x512.png");
   background-repeat: no-repeat;
   background-size: 100%;
   opacity: 0.1;
   filter:alpha(opacity=40);
   height:100%;
   width:100%;
 }

.main{
   height:320px;
   width:80%;
   margin:auto;
   z-index:-1;
   opacity: 1;
   filter:alpha(opacity=100);
}

.iconattrib {
   font-size: 15px;
   position: absolute;
   bottom: 0;
   left: 20;
}

input[type="submit"] {
   border: 0;
   background: none;
   background-color: #EAEAEA;
   color: #03A9F4;
   box-shadow:none;
   border-radius: 0px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
