appdaemon:
  latitude: 0
  longitude: 0
  elevation: 30
  time_zone: Europe/Berlin
  plugins:
    HASS:
      type: hass
      ha_url:
      token:
      cert_verify: True
http:
  url:
admin:
api:
hadashboard:
