.widget-baseswitch-{{id}} .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-{{id}} .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-{{id}} .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-{{id}} .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-{{id}} .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
