// ----------------------------------------------------------------------------
// Widget-display styles
// ----------------------------------------------------------------------------

.widget-display-{{id}} {

  .unit {
    font-size: 225%;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 5px;
  }

  .value {
    display: inline-block;
    vertical-align: middle;
  }
  
    .title {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .title2 {
    margin-bottom: 10px;
    margin-top: 0px;
  }
}