@import "variables";
// ----------------------------------------------------------------------------
// Widget-display styles
// ----------------------------------------------------------------------------

.widget-display {

  .unit {
    color: $color-info;
    font-size: 225%;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 5px;
  }

  .value {
    color: $color-info;
    display: inline-block;
    vertical-align: middle;
  }
}