// ----------------------------------------------------------------------------
// Widget sliderpicker styles
// ----------------------------------------------------------------------------
.widget-sliderpicker-{{id}} {

  position: relative;

  .state_text {
    font-size: 85%;
  }
  
  .title {
    margin-bottom: 0;
    margin-top: 10px;
  }


  .toggle-area {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
  }

  .level {
    display: inline-block;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.7);
  }

  .unit {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
  }

  .secondary-icon {
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    width: 32px;
    color: white;

    &.plus {
      right: 24px;

      i {
        padding-top: 10px;
        padding-left: 30px;
      }
    }

    &.minus {
      left: 8px;

      i {
        padding-top: 10px;
        padding-right: 30px;
      }
    }
  }

}
