// ----------------------------------------------------------------------------
// Widget-binary styles
// ----------------------------------------------------------------------------
.widget-binary-{{id}} {

  .icon-active {
	position: absolute;
	top: 45px;
	width: 100%

  }

  .icon-inactive {
	position: absolute;
	top: 45px;
	width: 100%;
  }
  
  .title {
	position: absolute;
	top: 5px;
	width: 100%;
  }

  .title2 {
	position: absolute;
	top: 20px;
	width: 100%;
  }
  
.state_text {
	position: absolute;
	bottom: 0px;
	width: 100%;
  }
}