// ----------------------------------------------------------------------------
// Widget-binary styles
// ----------------------------------------------------------------------------
.widget-binary-{{id}} {

  .icon-active {
	color: white;
  }

  .icon-inactive {
	color: white;
  }
  
  .title {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .title2 {
    margin-bottom: 10px;
    margin-top: 0px;
  }
}