.widget-binary-{{id}} .icon-active {
	position: absolute;
	top: 45px;
	width: 100%;
}

.widget-binary-{{id}} .icon-inactive {
	position: absolute;
	top: 45px;
	width: 100%;
}

.widget-binary-{{id}} .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-binary-{{id}} .title2 {
	position: absolute;
	top: 20px;
	width: 100%;
}

.widget-binary-{{id}} .state_text {
	position: absolute;
	bottom: 0px;
	width: 100%;
}