# Build a docker image and Python package. If on `dev`` branch or git tag:
#  - Deploy Docker image to Docker Hub
#  - Deploy Python package to PyPi
name: Build and deploy

on:
  push:
    branches: ["**"]
    tags: ["*"]
  pull_request:
    branches: ["dev"]

# Cancel a currently running workflow from the same PR, branch or tag when a new workflow is triggered:
# Taken from https://stackoverflow.com/a/72408109
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  # github.repository as <account>/<repo>
  IMAGE_NAME: acockburn/appdaemon

jobs:
  # The Python package is required in the subsequent Docker image build
  build_package:
    name: Python package
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      # https://github.com/actions/setup-python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: 'pip' # caching pip dependencies
          # Manually set pyproject.toml as the file to use for dependencies
          # Workaround while waiting for https://github.com/actions/setup-python/issues/529
          cache-dependency-path: 'pyproject.toml'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]
      - name: Build Python package
        run: python -m build
      - name: Upload Python package
        uses: actions/upload-artifact@v3
        with:
          name: python-package
          path: dist/
      # Publish package only on Git tag
      - name: Publish package
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}

  # After building the Python package, build the Docker image
  build_image:
    name: Docker image
    runs-on: ubuntu-latest
    needs: ['build_package']
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Download Python package
        uses: actions/download-artifact@v3
        with:
          name: python-package
          path: dist/
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v2.4.1
      # Login against a Docker registry (only with a tag or push on `dev` branch)
      # https://github.com/docker/login-action
      - name: Log into Docker Hub
        if: github.event_name == 'push' && (startsWith(github.ref, 'refs/tags') || github.ref_name == 'dev')
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4.3.0
        with:
          images: ${{ env.IMAGE_NAME }}
      # Build and push Docker image with Buildx (push image only with a tag or push on `dev` branch)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v4.0.0
        with:
          context: .
          push: ${{github.event_name == 'push' && (startsWith(github.ref, 'refs/tags') || github.ref_name == 'dev')}}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          #platforms: linux/arm64/v8, linux/amd64, linux/arm/v7, linux/arm/v6
          platforms: linux/arm64/v8, linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max
