name: Build Container Image

on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Docker meta
      id: docker_meta
      uses: crazy-max/ghaction-docker-meta@v1.11.0
      with:
        images: ghcr.io/lexfrei/appdaemon/appdaemon
        tag-sha: true

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1.0.1

    - name: Checkout
      uses: actions/checkout@v2.3.4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.1.1

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1.8.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.CR_PAT }}

    - name: Build and push
      uses: docker/build-push-action@v2.2.2
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/arm/v7,linux/arm/v6,linux/amd64,linux/arm64
        push: true
        tags: ${{ steps.docker_meta.outputs.tags }}
